@model Bean_Scene_Reservation.Models.Sitting

@{
    string sittingType = Model.SittingType.Name;
    ViewData["Title"] = "Edit Sitting for " + Model.Date + " " + sittingType;
}

<h1 class="open-sans">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" disabled />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SittingTypeId" class="control-label"></label>
                <select asp-for="SittingTypeId" class="form-control" asp-items="ViewBag.SittingTypeId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="StartTimeId" class="control-label"></label>
                <select asp-for="StartTimeId" class="form-control" asp-items="ViewBag.StartTimeId"></select>
                <span asp-validation-for="StartTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTimeId" class="control-label"></label>
                <select asp-for="EndTimeId" class="form-control" asp-items="ViewBag.EndTimeId"></select>
                <span asp-validation-for="EndTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<Sitting.SittingStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group border-top mt-4 pt-4">
                @if (@Model.SittingScheduleId == null)
                {
                    <p>
                        <strong>Schedule Id:</strong> (No Schedule) <br />
                        <strong>Schedule Name:</strong> (No Schedule)
                    </p>
                } else
                {
                    <p>
                        <strong>Schedule Id:</strong> @Model.SittingScheduleId <br />
                        <strong>Schedule Name:</strong> @Model.SittingSchedule.Name
                    </p>
                }
            </div>
            <div class="form-group border-top mt-4 pt-4">
                <input type="submit" value="Save" class="btn btn-primary" aria-label="Save" />
                <a asp-action="Index" class="btn btn-secondary" aria-label="Cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
