@model Bean_Scene_Reservation.Controllers.UsersController.UserWithRolesDto

@{
    ViewData["Title"] = "Delete " + Model.FullName;
}

<h1 class="open-sans">@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @if (String.IsNullOrEmpty(Model.Phone))
            {
                @:(No Phone No.)
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.Phone)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Roles.Count == 0)
            {
                @:(No Roles)
            }
            else
            {
                @string.Join(", ", Model.Roles)
            }
        </dd>
    </dl>
</div>

<p>This action cannot be undone.</p>

<form class="mt-3" asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" aria-label="Delete" title="Delete" />
    <a asp-action="Index" class="btn btn-secondary" aria-label="Cancel" title="Cancel">Cancel</a>
</form>