@model IEnumerable<Bean_Scene_Reservation.Models.Reservation>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Reservation History";

    bool isLoggedIn = SignInManager.IsSignedIn(User);
    var user = await UserManager.GetUserAsync(User);
}

<h1 class="open-sans">@ViewData["Title"]</h1>
@if (!isLoggedIn)
{
    <p>You are not logged-in! Please log-in to view your reservations.</p>
} else
{
    <h2>Upcoming Reservations</h2>

    <div class="table-responsive">
        <table class="table align-middle">
            <caption>All upcoming reservations</caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sitting.SittingTypeId)
                    </th>
                    <th>
                        Reservation Times
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreaId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfGuests)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Source)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                    @if (item.Status != Enum.Parse<Reservation.ReservationStatus>("Cancelled") && item.Date >= DateOnly.FromDateTime(DateTime.Today))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sitting.SittingType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTimeId) - @Html.DisplayFor(modelItem => item.EndTimeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfGuests)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Source)
                            </td>
                        </tr>
                    }
        }
            </tbody>
        </table>
    </div>

    <h2>Previous & Cancelled Reservations</h2>

    <div class="table-responsive">
        <table class="table align-middle">
            <caption>All previous/cancelled reservations</caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sitting.SittingTypeId)
                    </th>
                    <th>
                        Reservation Times
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreaId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfGuests)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Source)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.Status == Enum.Parse<Reservation.ReservationStatus>("Cancelled") || item.Date < DateOnly.FromDateTime(DateTime.Today))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sitting.SittingType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTimeId) - @Html.DisplayFor(modelItem => item.EndTimeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfGuests)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Source)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <p><em>Please contact us if you need to update a reservation's details.</em></p>
}
