@model Bean_Scene_Reservation.Models.Reservation

@{
    ViewData["Title"] = "Delete Reservation for " + Model.Date + " " + Model.Sitting.SittingType.Name;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sitting.SittingTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sitting.SittingType.Name)
        </dd>
        <dt class="col-sm-2">
            Reservation Times
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTimeId) - @Html.DisplayFor(model => model.EndTimeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>

    <p>This action cannot be undone.</p>
    
    <form class="mt-3" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" aria-label="Delete" title="Delete" />
        <a asp-action="Index" class="btn btn-secondary" aria-label="Cancel" title="Cancel">Cancel</a>
    </form>
</div>
