@model Bean_Scene_Reservation.Models.SittingSchedule

@{
    ViewData["Title"] = "Delete " + Model.Name;
}

<h1 class="open-sans">@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SittingType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SittingType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity) @(Model.Capacity != 1 ? "Guests" : "Guest")
        </dd>
        <dt class="col-sm-2">
            Weekdays Affected
        </dt>
        <dd class="col-sm-10">
            @{
                List<string> weekdays = new();
                if (Model.ForMonday) { weekdays.Add("Mon"); }
                if (Model.ForTuesday) { weekdays.Add("Tue"); }
                if (Model.ForWednesday) { weekdays.Add("Wed"); }
                if (Model.ForThursday) { weekdays.Add("Thu"); }
                if (Model.ForFriday) { weekdays.Add("Fri"); }
                if (Model.ForSaturday) { weekdays.Add("Sat"); }
                if (Model.ForSunday) { weekdays.Add("Sun"); }
            }
            @(string.Join(", ", weekdays))
        </dd>
        <dt class="col-sm-2">
            Number of Sittings
        </dt>
        <dd class="col-sm-10">
            @(Model.Sittings?.Count ?? 0)
        </dd>
    </dl>
    
    <p>This action cannot be undone.</p>
    <p class="text-danger">Deleting @(Model.Name) will delete all @(Model.Sittings?.Count ?? 0) sitting(s) associated with it.</p>

    <form class="mt-3" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" aria-label="Delete" title="Delete" />
        <a asp-action="Index" class="btn btn-secondary" aria-label="Cancel" title="Cancel">Cancel</a>
    </form>
</div>
