@model Bean_Scene_Reservation.Models.SittingSchedule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>SittingSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForMonday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForMonday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForTuesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForTuesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForWednesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForWednesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForThursday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForThursday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForFriday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForFriday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForSaturday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForSaturday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForSunday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForSunday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SittingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SittingType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
