@model Bean_Scene_Reservation.Models.SittingSchedule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>SittingSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTimeId" class="control-label"></label>
                <select asp-for="StartTimeId" class="form-control" asp-items="ViewBag.StartTimeId"></select>
                <span asp-validation-for="StartTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTimeId" class="control-label"></label>
                <select asp-for="EndTimeId" class="form-control" asp-items="ViewBag.EndTimeId"></select>
                <span asp-validation-for="EndTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SittingTypeId" class="control-label"></label>
                <select asp-for="SittingTypeId" class="form-control" asp-items="ViewBag.SittingTypeId"></select>
                <span asp-validation-for="SittingTypeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForMonday" /> @Html.DisplayNameFor(model => model.ForMonday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForTuesday" /> @Html.DisplayNameFor(model => model.ForTuesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForWednesday" /> @Html.DisplayNameFor(model => model.ForWednesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForThursday" /> @Html.DisplayNameFor(model => model.ForThursday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForFriday" /> @Html.DisplayNameFor(model => model.ForFriday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForSaturday" /> @Html.DisplayNameFor(model => model.ForSaturday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForSunday" /> @Html.DisplayNameFor(model => model.ForSunday)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
