@model IEnumerable<Bean_Scene_Reservation.Models.SittingSchedule>

@{
    ViewData["Title"] = "Manage Sittings Schedules";
}

<h1 class="open-sans">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" aria-label="Create Sitting Schedule" title="Create Sitting Schedule">
        <i class="bi-plus-circle"></i>
        Create Sitting Schedule
    </a>
</p>

<div class="table-responsive">
<table class="table align-middle">
    <caption>List of all Sitting Schedules in Bean Scene</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SittingType)
            </th>
            <th>
                Date Range
            </th>
            <th>
                Weekdays
            </th>
            <th>
                Time Range
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th aria-label="Actions: Details, Delete"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SittingType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @{
                    List<string> weekdays = new();
                    if (item.ForMonday) {weekdays.Add("Mon");}
                    if (item.ForTuesday) {weekdays.Add("Tue");}
                    if (item.ForWednesday) {weekdays.Add("Wed");}
                    if (item.ForThursday) {weekdays.Add("Thu");}
                    if (item.ForFriday) {weekdays.Add("Fri");}
                    if (item.ForSaturday) {weekdays.Add("Sat");}
                    if (item.ForSunday) {weekdays.Add("Sun");}
                }
                @(string.Join(", ", weekdays))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTimeId) - @Html.DisplayFor(modelItem => item.EndTimeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity) @(item.Capacity != 1 ? "Guests" : "Guest")
            </td>
            <td class="text-end">
                <a class="btn btn-primary" aria-label="Details" title="Details" asp-action="Details" asp-route-id="@item.Id">
                    <i class="bi bi-search"></i>
                </a>
                <a class="btn btn-danger" aria-label="Delete" title="Delete" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>